node_modules
yarn-error.log
.parcel-cache
dist
.vscode/settings.json
.vscode/react.code-snippets
built-storybook
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.tfvars
*.tfstate
terraform.env
.terraform/providers
.terraform