@use "../core/scss/colors.scss";
.species-list-view {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  & &--table {
    display: flex;
    flex-grow: 1;
    border-bottom: 2px solid colors.$background;
    height: 100%;
  }
}

.add-species-dialog {
  label {
    display: block;
    font-size: 24px;
    font-weight: bold;
    input {
      padding: 8px;
      display: block;
      font-size: 20px;
      font-weight: 300;
      outline: none;
      border: none;
      border-bottom: 2px solid grey;
    }
  }
}
